* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#global-nav {
    color: white;
}

.nav-container {
    max-width: 980px;
}

.header-container {
    background-color: #1f2937;
    padding: 10px 25px;
}

.header-container ul {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 90px;
    height: auto;
}

.header-container li {
    list-style: none;
    padding: 5px;
}

.header-container a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.header-container a {
    color: white;
    font-family: monospace;
    text-decoration: none;
}

.hero {
    background: #1f2937;
}

.hero-container {
    display: flex;
    justify-content: center;
    height: 450px;
}

.hero-content {
    margin: 100px;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    line-height: 25px;
    font-size: 14px;
}

.hero-img {
}

.content {
    background: #fff;
}

.content h3 {
    text-align: center;
    padding: 30px;
    font-size: 32px;
}

.content-container {
    border: 1px solid #3cb371;
    display: flex;
    margin: 0 220px;
    padding-bottom: 90px;
    justify-content: center;
    gap: 25px;
}

.content-block {
    border: 1px solid magenta;
    flex: 0 1 0%;
}

.block {
    border: 2px solid #3b82f6;
    padding: 100px;
    margin: 20px;
    border-radius: 20px;
}

.copy {
    text-align: center;
}

.copy p {
    font-size: 18px;
    padding: 0 20px;
}

.quotes {
    background: #e5e7eb;
    padding: 90px 290px;
}

.quotes-container {
    text-align: left;
}

.quotes-paragraph {
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
    font-style: italic;
}

.quotes h3 {
    font-size: 18px;
    text-align: right;
}

.newsletter {
    padding: 50px 250px;
}

.newsletter-container {
    background: #4488f6;
    padding: 40px 50px;
    border-radius: 10px;
    color: white;
    display: flex;
}

.btn {
    background: none;
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: white;
    color: #4488f6;
    transition: all 500ms ease-in-out;
}

.newsletter-btn {

}


footer {
    background: #1f2937;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

/* button styles for the UI */

.hero-content .btn {
    background: #3b82f6;
    padding: 10px 30px;
    border: 0 solid #3b82f6;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-btn {
    margin-top: 20px;
}