* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#global-nav {
    color: white;
}

.nav-container {
    max-width: 980px;
}

.header-container {
    background-color: #1f2937;
    padding: 10px 25px;
}

.header-container ul {
    display: flex;
    flex-direction: row;
    margin-right: 185px;
    margin-left: 185px;
    justify-content: space-between;
}

.header-logo {
    margin-right: 375px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0 !important;
}

.header-container li {
    list-style: none;
    padding: 5px;
    margin-left: 30px;
}

.header-container a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.hero {
    background: #1f2937;
}

.hero-container {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.hero-copy {
    max-width: 500px;
    margin-top: 50px;
}

.hero-copy p {
    margin: 10px 0;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 20px;
}

.hero-title-p {
    margin: 10px 0;
    padding-bottom: 10px;
}

.hero-img {
    margin-left: 50px;
}

.content {
    background: #fff;
}

.content h3 {
    text-align: center;
    padding: 30px;
    font-size: 32px;
}

.content-container {
    display: flex;
    margin: 0 220px;
    padding-bottom: 90px;
    justify-content: center;
    gap: 25px;
}

.content-block {
    flex: 0 1 0%;
}

.block {
    margin: 20px;
}

.block img {
    border-radius: 20px;
    width: 175px;
    height: auto;
    box-shadow: 0px 0px 4px #3b82f6;
}

.copy {
    text-align: center;
}

.copy p {
    font-size: 18px;
    padding: 0 20px;
}

.quotes {
    background: #e5e7eb;
    padding: 90px 290px;
}

.quotes-container {
    text-align: left;
}

.quotes-paragraph {
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
    font-style: italic;
}

.quotes h3 {
    font-size: 18px;
    text-align: right;
}

.newsletter {
    padding: 50px 250px;
}

.newsletter-container {
    background: #4488f6;
    padding: 40px 50px;
    border-radius: 10px;
    color: white;
    display: flex;
}

.newsletter-block {
    flex: 1 1 0%;
}

footer {
    background: #1f2937;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

/* button styles for the UI */

.hero-container .btn {
    background: #3b82f6;
    padding: 10px 30px;
    border: 0 solid #3b82f6;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}


.btn {
    background: none;
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: white;
    color: #4488f6;
    transition: all 500ms ease-in-out;
}
